.app {
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  padding: 2rem;

  background-color: #242424;
  color: #ffffffde;
}

.app h1 {
  margin-bottom: 2rem;
}

.renderGames {
  width: 100%;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(490px, 1fr));
  justify-items: center;
  gap: 2rem;

  margin-top: 2rem;
}
